@page
@model ContosoUniversity.Pages.AboutModel
@{
    ViewData["Title"] = "Student Body Statistcs";
}
<h2>学生注册统计</h2>
<table>
    <tr>
        <th>
            注册日期
        </th>
        <th>
            注册人数
        </th>
    </tr>
    @foreach (var item in Model.EnrollmentDateGroups)
    {
        <tr>
            <td class="col-6">
                @item.EnrollmentDate
            </td>
            <td class="col-4">
                @item.EnrollmentCount
            </td>
        </tr>
    }
</table>
